Package: jp.r-plus.actishiftcaret
Name: ActiShiftCaret
Depends: mobilesubstrate, libactivator (>= 1.5.8~beta2), firmware (>= 5.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Caret micromanager via activator
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: r_plus <anasthasia.r+actishiftcaret@gmail.com>
Section: Tweaks
dev: rplus
Priority: optional
Tag: purpose::extension
Sponsor: thebigboss.org <http://thebigboss.org>
